<p id="notice"><%= notice %></p>

<h1 align='center'>Articles</h1>

<%= render 'article', obj: @articles %>
<div align='center'>
    <%= will_paginate @article, renderer: BootstrapPagination::Rails %>
</div>


<br>
<% if logged_in && current_user == @article.user %>
    <%= link_to 'New Article', new_article_path %> |
<% end %>
<%= link_to 'Home', root_path %>
