<p id="notice"><%= notice %></p>

<h1 align='center'>Articles</h1>

<%= render 'article', obj: @articles %>
<div align='center'>
    <%= will_paginate @article, renderer: BootstrapPagination::Rails %>
</div>


<br>

<%= link_to 'New Article', new_article_path %> |
<%= link_to 'Home', root_path %>
