<p id="notice"><%= notice %></p>

<h1 align='center'>All Alpha-Bloggers</h1>
<div align='center'>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row col-sm-6">
        <div class="card">
          <div class="card-body">
            <li><%= link_to gravtar_for(user), user_path(user) %></li>
            <li class="article-title">
              <%= link_to user.username, user_path(user) %>
            </li>
            <li><small><%= pluralize(user.articles.count, "articles") if user.articles %></small></li>
            <% if logged_in and current_user.admin %>
              <li><%= link_to "delete this user", user_path(user), method: :delete, 
                    data: {confirm: "Are you very sure?"} %></li>
            <% end %>
          </div>
        </div>
      </div>  
    </ul>
  <% end %>
</div>
<%= will_paginate @article, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to 'New User', new_user_path %>
