<nav class="navbar navbar-expand-lg navbar-light", id='changer'>
    <div class="container-fluid">
      <%= link_to 'Alpha-Blog', root_path, class: 'navbar-brand', id: 'logo' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Article', articles_path, class:"nav-link", id:'link' %> 
          </li>
          <% if logged_in %>
            <li class="nav-item">
              <%= link_to 'New Articles', new_article_path,class:"nav-link",id:'link' %>
            </li> 
          <% end %>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </li>
        <li class="nav-item">
          <% if logged_in %>
            <%= link_to 'LOG OUT',logout_path %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Your Profile <%= "Admin" if current_user.admin %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to 'Edit your profile', edit_user_path(current_user) %></li>
                <li><%= link_to 'Profile View', user_path(current_user) %></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          <% else %>
            <%= link_to 'LOG IN',login_path %>
          <% end %>
        </li>
      </div>
    </div>
</nav>